
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
    <link href="/css/common.css" rel="stylesheet" type="text/css"/>
    <link href="/css/ej_common.css" rel="stylesheet" type="text/css"/>
    <link href="/css/gwc.css" rel="stylesheet" type="text/css"/>
    <title>平价手机网</title>
</head>

<body>
<div class="top">
    <div class="m_980 h_32">
        <div class="fl-r font_ccc"><a href="#">我的账户</a> | <a href="#">帮助中心</a> | <a href="#">投诉与建议</a> | <a href="#">在线客服</a></div>
        您好，欢迎来到酷淘！请<a href="#">登录</a> <a href="#" class="font_999">免费注册</a>
    </div>
</div>
<div class="m_980">
    <div class="logo">
        <div class="logo_l"><a href="#"><img src="/images/logo1.jpg" border="0" /></a></div>
        <div class="search">
            <div class="search_l">
                <input name="textfield" type="text" class="search_input" value="请输入关键字"/>
                <input type="submit" name="Submit" value="搜索" class="search_btn font_c_14" />
            </div>
            <div class="search_r">热门： <a href="#" class="font_999">诺基亚</a>  <a href="#" class="font_999">给力</a>  <a href="#" class="font_999">三星</a>  苹果  <a href="#" class="font_999">直板</a> <a href="#" class="font_999">1000元以下</a></div>
        </div>
    </div>
</div>
<div class="m_980">
    <div class="dh"><img src="/images/nav_l.jpg" width="9" height="50" /></div>
    <div class="nav">
        <ul>
            <li class="select"><a href="javascript:func()">网站首页</a></li>
            <li><a href="#">新品热卖</a></li>
            <li><a href="#">行货报价</a></li>
            <li><a href="#">水货报价</a></li>
            <li><a href="#">山寨批发</a></li>
            <li><a href="#">帮助中心</a></li>
        </ul>
    </div>
    <div class="gwc">
        <div class="gwc_l te_m">购物车 <span class="font_red">0</span> 件，共计 <span class="font_red">2000</span> 元</div>
        <div class="gwc_r te_m"><a href="#" class="font_red">去结算</a></div>
    </div>
    <div class="dh"><img src="/images/nav_r.jpg" width="9" height="50" /></div>
</div>
<div class="m_980 weizhi">
    当前位置：首页　＞ <a href="#">手机</a>　＞ 索尼爱立信索爱W995</div>
<div class="m_980">
    <div class="gwc_pos first">
        <div class="sel fl-l">1.我的购物车</div>
        <div class="un fl-l">2.填写核对订单信息</div>
        <div class="un fl-l">3.成功填写订单</div>
    </div>
</div>
<div class="m_980"><div class="gwc_logo g_first yh_22">我的购物车</div></div>
<div class="m_980 bor_t_n ma_b8">
    <div class="ej_l_title font_c_14 bor_t">我挑选的商品</div>
    <div class="gwc_c">
        <table width="97%" border="0" align="center" cellpadding="0" cellspacing="0" class="gwc_table">
            <tr>
                <td width="10%" class="title">商品编号</td>
                <td width="36%" class="title">商品名称</td>
                <td width="9%" class="title">价格</td>
                <td width="10%" class="title">数量</td>
                <td width="11%" class="title">小计</td>
                <td width="13%" class="title">操作</td>
            </tr>
            <tr th:each="cartEntity:${cartEntities}">
                <td class="content"><p th:text="${cartEntity.productid}"></p></td>
                <td class="content_l"><a href="#" th:text="${cartEntity.productName}"></a></td>
                <td class="content font_red" th:text="'￥ '+${cartEntity.productPrice}+' 元'"></td>
                <td class="content"><span class="fl-l" th:text="${cartEntity.productNum}"></span></td>
                <td class="content" th:text="${cartEntity.productPrice*cartEntity.productNum}"></td>
                <td class="content"><a href="#">删除</a> <a href="#">放入收藏夹</a></td>
            </tr>
            <tr>
                <td colspan="7" align="right">商品总金额（不含运费）：
                    <span class="font_red font_c_14" th:text="'￥'+${orderSum}"></span> 元</td>
            </tr>
            <tr>
                <td colspan="7" class="content_bot"><span class="fl-l" style=" padding:12px 0 0 6px;">
                                <input name="" type="button" class="qk_gwc_bt" value="清空购物车" />
                                <input name="" type="button" class="gx_gwc_bt" value="更新购物车" /></span>
                    <span class="fl-r">
                                    <a href="/product/index"><img src="/images/jxgw.gif" width="110" height="37" /></a>
                                    <a href="/order/gwc2"><img src="/images/payment.gif" width="110" height="37" /></a>
                                </span></td>
            </tr>
        </table>
    </div>
</div>
<div class="m_980 bor_t_n ma_b8">
    <div class="ej_l_title bor_t"><span class="font_c_14">我收藏的商品</span>(现在就放入购物车吧！)</div>
    <div class="collect">
        <ul>
            <li>
                <p class="pic_100 fl-l"><img src="/images/pic100.jpg" width="100" height="100" /></p>
                <p class="t"><a href="#">索尼爱立信索爱索爱W995W995C</a></p>
                <p class="t font_red">￥1399 </p>
                <p class="t"><input name="" type="button" class="ad_gwc_bt" value="加入购物车" /> <input name="" type="button" class="del_bt" value="删除" /></p>
            </li>
            <li>
                <p class="pic_100 fl-l"><img src="/images/pic100.jpg" width="100" height="100" /></p>
                <p class="t"><a href="#">索尼爱立信索爱索爱W995W995C</a></p>
                <p class="t font_red">￥1399 </p>
                <p class="t"><input name="" type="button" class="ad_gwc_bt" value="加入购物车" /> <input name="" type="button" class="del_bt" value="删除" /></p>
            </li>
            <li>
                <p class="pic_100 fl-l"><img src="/images/pic100.jpg" width="100" height="100" /></p>
                <p class="t"><a href="#">索尼爱立信索爱索爱W995W995C</a></p>
                <p class="t font_red">￥1399 </p>
                <p class="t"><input name="" type="button" class="ad_gwc_bt" value="加入购物车" /> <input name="" type="button" class="del_bt" value="删除" /></p>
            </li>
        </ul>
    </div>
</div>
<div class="bor_978 m ma_b8 tel">
    <div class="tel_c">
        <ul>
            <li><strong>购物流程</strong></li>
            <li><a href="#">品质保障承诺</a></li>
            <li><a href="#">关于我们</a></li>
        </ul>
    </div>
    <div class="tel_c">
        <ul>
            <li><strong>新手指南</strong></li>
            <li><a href="#">网站订购流程</a></li>
            <li><a href="#">会员积分优惠</a></li>
        </ul>
    </div>
    <div class="tel_c">
        <ul>
            <li><strong>付款方式</strong></li>
            <li><a href="#">支付方式</a></li>
            <li><a href="#">常见支付问题</a></li>
        </ul>
    </div>
    <div class="tel_c">
        <ul>
            <li><strong>配送方式</strong></li>
            <li><a href="#">配送方式及范围</a></li>
            <li><a href="#">货到付款</a></li>
            <li><a href="#">配送常见问题</a></li>
        </ul>
    </div>
    <div class="tel_c">
        <ul>
            <li><strong>售后服务</strong></li>
            <li><a href="#">三重购物保障</a></li>
            <li><a href="#">退款方式及时间</a></li>
        </ul>
    </div>
</div>
<div class="bottom m"><a href="#">首页</a>  |  <a href="#">关于平价手机网</a>  | <a href="#">加入我们</a>  |  <a href="#">帮助中心</a>  |  <a href="#">联系我们</a>  |  <a href="#">友情链接</a>      <br />
    Copyright @2011-2015  cnfoc.com  All Right Reserved  京ICP备090888888号 </div>

</body>
</html>
